<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaolidemo">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="577c9911e0f55a7c78000149" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="bf5c6a6ebf70912de3a050921ca95799" >
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xpush" >
        </meta-data>

        <service android:name="com.xiaoli.library.task.PollingService">

        </service>
        <activity android:name="com.xiaoli.library.ui.NullActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ui.common.GuideActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.common.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.DemoActivity"
            android:label="@string/demo_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.MainActivity"
            android:label="@string/main_label"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
