<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaolidemo">
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="577c9911e0f55a7c78000149" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="bf5c6a6ebf70912de3a050921ca95799" >
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xiaoli" >
        </meta-data>

        <service android:name="com.xiaoli.library.service.PollingService"></service>
        <service android:name="com.xiaoli.library.service.FloatBallService"></service>

        <activity android:name="com.xiaoli.library.ui.NullActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.PuzzleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="app" android:host="app.lubaocar.com"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.common.GuideActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.common.LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.demo.DemoActivity"
            android:label="@string/demo_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.MainActivity"
            android:label="@string/main_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.DropDownListViewActivity"
            android:label="@string/DropDownListView_label"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.demo.SlantedActivity"
            android:label="@string/slanted_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.FloatBallActivity"
            android:label="@string/floatfall_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.ShapeImageActivity"
            android:label="@string/shape_image_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.demo.BinnerActivity"
            android:label="@string/binner_label"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.xiaoli.library.camera.CameraActivity"
            android:label="@string/camera_label"
            android:screenOrientation="portrait">
        </activity>

       <!-- <activity android:name=".ui.demo.PuzzleActivity"
            android:label="@string/puzzle_label"
            android:screenOrientation="portrait">
        </activity>-->


    </application>

</manifest>
